<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Studio d'ingegneria Massimiliano Santoro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://scontent-fco2-1.xx.fbcdn.net/v/t1.6435-9/79937164_10215445349347197_2338849351847116800_n.jpg?_nc_cat=105&ccb=1-6&_nc_sid=174925&_nc_ohc=5utxeUKPg_cAX-qe5cx&tn=70MWhojPpyFqLlnZ&_nc_ht=scontent-fco2-1.xx&oh=00_AT_BbEG2MG72mWIWYHKpiLQ5FNryk2faCsQP8G3Nqq2RHQ&oe=629CDF93">

    <script src="https://kit.fontawesome.com/ed0925123a.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/3.0.0/flickity.min.css" integrity="sha512-fJcFDOQo2+/Ke365m0NMCZt5uGYEWSxth3wg2i0dXu7A1jQfz9T4hdzz6nkzwmJdOdkcS8jmy2lWGaRXl+nFMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;600;700&display=swap" rel="stylesheet">
  </head>

<body style="color: white; background-color: #016b92">
    <div style="margin: 3rem" class="reveal">
      <h1>Ben fatto, <%= fullname %>.</h1>
      <h4>Il seguente messaggio è stato inviato con successo:</h4>
      <p class="response-message"> <%= message %>  </p>
      <p> in data <%=now%>, alle ore <%= time %>  </p>
    </div>
</body>
